<form [formGroup]="form">
    <div>
        <label for="username">Pseudo</label>
        <!-- la valeur de l'attribut formControlName doit
        correspondre au nom de la propriété dans le formGroup -->
        <input type="text" formControlName="username" id="username">
        <div *ngIf="Username.errors">
            {{ Username.errors | json }}
        </div>
        <div *ngIf="Username.pending">
            Loading....
        </div>
    </div>
    <div>
        <label for="comment">commentaire</label>
        <textarea formControlName="comment" id="comment" cols="30" rows="10"></textarea>
        <div *ngIf="Comment?.invalid">
            <p>
                Le commentaire est obligatoire
            </p>
        </div>
    </div>
    <div formGroupName="password">
        <label for="new">Mot de passe</label>
        <input type="text" formControlName="new" id="new">

        <label for="confirm">Confirmation de mot de passe</label>
        <input type="text" formControlName="confirm" id="confirm">
        <div>
            {{ form.get('password')?.errors | json}}
        </div>
    </div>
</form>
{{ form.value | json}}