<p class="{{classBlue}}">movie-list works!</p>


<ul appCoffe>
    <li *ngFor="let movie of movies; let i = index">
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.description }}</p>
        <p>Compteur : {{ counters[i] || 0 }}</p>
        <button (click)="add(i)">+</button>
        <button (click)="sub(i)">-</button>
    </li>
</ul>

{{"N'oubliez pas d'ajouter votre pipe personnalisé au module où vous souhaitez l'utiliser. Vous pouvez le faire en l'ajoutant à la propriété declarations du décorateur @NgModule dans le fichier du module correspondant." | summary:50}}
