<form #form="ngForm" (ngSubmit)="submit(form)">
    <div>
        <label for="intitule">intitulé</label>
        <input required minlength="5" ngModel #intitule="ngModel" type="text" name="intitule">
    </div>
    <div *ngIf="intitule.touched && intitule.errors">
        <p *ngIf="intitule.errors['required']">
            le champ intitulé est requis.
        </p>
        <p *ngIf="intitule.errors['minlength']">
            il manque {{ intitule.errors['minlength']['requiredLength'] - intitule.errors['minlength']['actualLength']}}
        </p>
    </div>
    <div>
        <label for="category">Catégories</label>
        <select ngModel name="category" id="category">
            <option *ngFor="let option of category" [value]="category">
                {{option}}
            </option>
        </select>
    </div>
    <div *ngIf="form.value.category">
        <label for="subclass">sous catégories</label>
        <select name="subclass" id="subclass">
            ce que renvoi ma fonction
        </select>
    </div>
    <div>
        <label for="description">description</label>
        <textarea name="description" id="description" cols="30" rows="10" placeholder="entrez votre description" maxlength="150" ngModel></textarea>
    </div>
    <button type="submit">submit</button>
</form>
{{form.value|json}}
<p>
    notre formulaire est valide :{{form.valid}}
</p>